<div class="post" data-title="{{title}}" data-type="{{type}}" data-url="{{photoURL}}" data-rating="{{rating}}" data-genre="{{genre}}" data-review="{{review}}">
	<div class="post-contents">
		<div class="post-image-container">
			<img class="title-img" src="{{photoURL}}" alt="{{title}} title image">
		</div>
		<div class="post-info-container">
			<span class="title">{{title}}</span>
			<span class="rating">{{rating}}</span>
			<span class="review">{{review}}</span>
		</div>
	</div>
</div>
